.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}



/*shared styles*/
.btn-primary {
    background-color: rgba(78, 71, 255, 1);
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    padding: 12px 36px;
    border: none;
    transition-duration: 0.3s;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

}

.btn-primary:hover {
    background-color: rgba(78, 71, 255, 1);
}

/*main styles*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/*for section style*/
.user section {
    border-radius: 35px;
    padding: 80px 50px;
    text-align: center;
    margin: 116px 141px 134px 159px;


}

.section-title {
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    gap: 10px;
}

.section-bg {
    background-color: rgba(78, 71, 255, 0.1);
}

.item-description {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);

}

.item-title {
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);

}

.user-items {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

/*action styles*/
.action {
    display: flex;
    width: 1140px;
    height: 328px;
    gap: 203px;
    justify-content: space-between;
    padding: 94px 141px 116px 160px;
    background-color: rgba(255, 255, 255, 1);

}

.action-title {

    font-size: 42px;
    max-width: 517px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);

}

.action-description {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(39, 36, 50, 0.5);

}

.action-mini-pic {
    width: 403px;
    height: 328px;
    border-radius: 45px;
}

.text-center {
    text-align: center;
}

/*header*/
.header {
    background-image: url('../Assets/Hero-bg.png');
}

/*Nav styles*/
nav {
    display: flex;
    color: rgba(78, 71, 255, 1);
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px 51.5px 150px;

}

.nav-title {
    font-size: 34px;
    text-shadow: rgba(0, 0, 0, 0.25);


}

nav ul li {
    list-style: none;
}



nav li a {
    text-decoration: none;
    font-size: 20px;
}

/*banner styles*/
.banner {
    text-align: center;
    padding: 309px 267.5px 152px 267.5px;
}

.banner-description {
    font-size: 65px;
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

/*Feedback section*/
.feddback-section {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.feeddback-container {

    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;

}

.feedback-cards-wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.feedback-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    /* Soft shadow */
    flex: 1;
    min-width: 280px;
    text-align: left;

}

.stars img {
    width: 20px;
    margin-right: 3px;
}

.feedback-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #333;
}

.feedback-description {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 25px;
}

/* Reviewer info  */
.reviewer {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.reviewer-info .name {
    font-weight: 600;
    color: #333;
    font-size: 16px;
}

.reviewer-info .title {
    color: #888;
    font-size: 14px;
}

/*focus section style*/
.focus-section {
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 1);
}

.focus-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.focus-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.focus-description {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}


.focus-image {
    width: 840px;
    height: 364.77px;
    max-width: 800px;
    margin-top: 30px;
    border-radius: 20px;
}