.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}



/*shared styles*/
.btn-primary {
    background-color: rgba(78, 71, 255, 1);
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    padding: 12px 36px;
    border: none;
    transition-duration: 0.3s;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

}

.btn-primary:hover {
    background-color: rgba(78, 71, 255, 1);
}



/*action styles*/
.action {
    display: flex;
    width: 1140px;
    height: 328px;
    gap: 203px;
    justify-content: space-between;
      padding: 94px 141px 116px 160px;
    background-color: rgba(255, 255, 255, 1);

}

.action-title {

    font-size: 42px;
    max-width: 517px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);

}

.action-description {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(39, 36, 50, 0.5);

}

.action-mini-pic {
    width: 403px;
    height: 328px;
    border-radius: 45px;
}

/*header*/
.header {
    background-image: url('../Assets/Hero-bg.png');
}

/*Nav styles*/
nav {
    display: flex;
    color: rgba(78, 71, 255, 1);
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px 51.5px 150px;

}

.nav-title {
    font-size: 34px;
    text-shadow: rgba(0, 0, 0, 0.25);


}

nav ul li {
    list-style: none;
}



nav li a {
    text-decoration: none;
    font-size: 20px;
}

/*banner styles*/
.banner {
    text-align: center;
    padding: 309px 267.5px 152px 267.5px;
}

.banner-description {
    font-size: 65px;
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
     font-family: 'Raleway', sans-serif;
}